@model KoronavirusMvc.ViewModels.MasterPutovanjeEditViewModel
@{
    ViewBag.Title = "Ažuriranje podataka o putovanju";
}

    <div class="form-group @(Model.Putovanje.SifraPutovanja > 0 ? "d-none" : "")">
        <label asp-for="Putovanje.SifraPutovanja"> Šifra Putovanja</label>
        <input asp-for="Putovanje.SifraPutovanja" class="form-control" />
    </div>
<div class="form-group">
    <label asp-for="Putovanje.DatumPolaska"></label>
    <div><span asp-validation-for="Putovanje.DatumPolaska" class="text-danger"></span></div>
    <input asp-for="Putovanje.DatumPolaska" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Putovanje.DatumVracanja"></label>
    <div><span asp-validation-for="Putovanje.DatumVracanja" class="text-danger"></span></div>
    <input asp-for="Putovanje.DatumVracanja" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Putovanje.IdentifikacijskiBroj"></label>
    <div><span asp-validation-for="Putovanje.IdentifikacijskiBroj" class="text-danger"></span></div>
    <select class="form-control" asp-for="Putovanje.IdentifikacijskiBroj" asp-items="Model.Osobe">
        <option selected value="" disabled>Odaberite osobu</option>
    </select>
</div>
<div class="form-group">
    <label asp-for="Putovanje.Lokacije">Gradovi</label>
    <div><span asp-validation-for="Putovanje.Lokacije" class="text-danger"></span></div>
    <select class="form-control" asp-for="Putovanje.Lokacije" asp-items="Model.Lokacije">
    </select>
</div>