﻿<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link"
           asp-action="Index" asp-controller="Home">
            Početna stranica
        </a>
    </li>

    <li class="dropdown">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lovre Gusar
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-action="Index" asp-controller="Pregled">Pregledi</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Simptom">Simptomi</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Terapija">Terapije</a>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Petra Kos
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-action="Index" asp-controller="Putovanje">Putovanja</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Statistika">Statistike</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Drzava">Države</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Lokacija">Lokacije</a>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Marko Maglić
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-action="Index" asp-controller="Preporuka">Popis Preporuka</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Organizacija">Popis Organizacija</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Institucija">Popis Institucija</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Oprema">Popis Opreme</a>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Goran Horvat
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-action="Index" asp-controller="Stozer">Stožeri</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Sastanak">Sastanci</a>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Magda Milički
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-action="Index" asp-controller="Osoba">Osobe</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Stanje">Stanja</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="ZarazenaOsoba">Zaražene osobe</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Kontakt">Osobe s kojima su bile u kontaktu</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link"
        asp-action="Index" asp-controller="ViewLog">
        Pregled log datoteka
        </a>
    </li>
</ul>