@model Sastanak

@{
    ViewBag.Title = "Novi sastanak";
}

<h2>Unos novog sastanka</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="SifraSastanka"></label>
        <div><span asp-validation-for="SifraSastanka" class="text-danger"></span></div>
        <input asp-for="SifraSastanka" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SifraStozera"></label>
        <div><span asp-validation-for="SifraStozera" class="text-danger"></span></div>
        <select class="form-control" asp-for="SifraStozera" asp-items="ViewBag.Stozeri">
            <option disabled selected value="">Odaberite stožer</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Datum"></label>
        <div><span asp-validation-for="Datum" class="text-danger"></span></div>
        <input asp-for="Datum" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>