@model Statistika

    <form asp-action="Create" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="SifraObjave"> Šifra objave</label>
            <input asp-for="SifraObjave" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="SifraGrada"> Ime grada</label>
            @*<input asp-for="SifraGrada" class="form-control" />*@
            <div><span asp-validation-for="SifraGrada" class="text-danger"></span></div>
            <select class="form-control" asp-for="SifraGrada" asp-items="ViewBag.Gradovi">
                <option selected value="" disabled>Odaberite grad</option>
            </select>

        </div>
        <div class="form-group">
            <label asp-for="SifraOrganizacije"> Ime organizacije</label>
            @*<input asp-for="SifraOrganizacije" class="form-control" />*@
            <div><span asp-validation-for="SifraOrganizacije" class="text-danger"></span></div>
            <select class="form-control" asp-for="SifraOrganizacije" asp-items="ViewBag.Organizacije">
                <option selected value="" disabled>Odaberite organizaciju</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="BrojSlucajeva"> Ukupni broj slučajeva </label>
            <input asp-for="BrojSlucajeva" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="BrojAktivnih"> Broj trenutno bolesnih</label>
            <input asp-for="BrojAktivnih" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="BrojUmrlih"> Broj umrlih </label>
            <input asp-for="BrojUmrlih" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="BrojIzlijecenih"> Broj izlječenih </label>
            <input asp-for="BrojIzlijecenih" class="form-control" />
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Dodaj</button>
            <a asp-action="Index" class="btn btn-secondary"> Odustani</a>
        </div>
    </form>
