@model KoronavirusMvc.ViewModels.OsobaDetailsViewModel

<tr>
    <td>
        <input asp-for="DatZaraze" data-save="" class="form-control" />
    </td>
    <td>
        <select class="form-control" asp-for="ZarazenaOsoba.SifraStanja" asp-items="ViewBag.Stanja" data-save="">
            <option selected value="" disabled>Odaberite stanje</option>
        </select>
    </td>
    <td>
        <button type="submit" class="btn btn-sm btn-primary save" title="Spremi">
            <i class="fas fa-save"></i>
        </button>
    </td>
    <td>
        <button type="submit" class="btn btn-sm cancel" title="Odustani">
            <i class="fas fa-undo-alt"></i>
        </button>
    </td>
</tr>
<tr>
    <td colspan="6">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="IdentifikacijskiBroj" data-save="" />
    </td>
</tr>
