@model Stanje

@{
    ViewData["Title"] = "Create";
}
<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="SifraStanja"></label>
        <input asp-for="SifraStanja" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NazivStanja"></label>
        <input asp-for="NazivStanja" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
    </div>
    <div class="text-center">
        <a asp-action="Index" class="btn btn-secondary" type="button">Odustani</a>
    </div>
</form>

