@model Institucija

@{ ViewBag.Title = "Nova Institucija";
}

<h2>Unos nove institucije</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="NazivInstitucije"></label>
        <div><span asp-validation-for="NazivInstitucije" class="text-danger"></span></div>
        <input asp-for="NazivInstitucije" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RadnoVrijeme"></label>
        <div><span asp-validation-for="RadnoVrijeme" class="text-danger"></span></div>
        <input asp-for="RadnoVrijeme" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Kontakt"></label>
        <div><span asp-validation-for="Kontakt" class="text-danger"></span></div>
        <input asp-for="Kontakt" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SifraOrganizacije"></label>
        <div><span asp-validation-for="SifraOrganizacije" class="text-danger"></span></div>
        <select class="form-control" asp-for="SifraOrganizacije" asp-items="ViewBag.Organizacije">
            <option selected value="" disabled>Odaberite organizaciju</option>
        </select>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>

