@model Putovanje

    <form asp-action="Create" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="SifraPutovanja"> Šifra putovanja</label>
            <input asp-for="SifraPutovanja" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="DatumPolaska"> Datum polaska</label>
            <input asp-for="DatumPolaska" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="DatumVracanja">Datum vraćanja</label>
            <input asp-for="DatumVracanja" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Lokacije">Gradovi</label>
            <div><span asp-validation-for="Lokacije" class="text-danger"></span></div>
            <select class="form-control" asp-for="Lokacije" asp-items="ViewBag.Gradovi">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="IdentifikacijskiBroj">Osoba</label>
            <div><span asp-validation-for="IdentifikacijskiBroj" class="text-danger"></span></div>
            <select class="form-control" asp-for="IdentifikacijskiBroj" asp-items="ViewBag.Osobe">
                <option selected value="" disabled>Odaberite osobu</option>
            </select>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Dodaj</button>
            <a asp-action="Index" class="btn btn-secondary"> Odustani</a>
        </div>
    </form>