@model IEnumerable<ZarazenaOsoba>

@{
    ViewData["Title"] = "Popis zaraženih osoba";
}

<table class="table table-sm table-striped table-hover" id="tablezarazena">
    <thead>
        <tr>
            <th>Identifikacijski broj</th>
            <th>Datum zaraze</th>
            <th>Šifra stanja</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var zarazena in Model)
        {
            <tr>
                <td class="text-left">@zarazena.IdentifikacijskiBroj</td>
                <td class="text-left">@zarazena.DatZaraze</td>
                <td class="text-left">@zarazena.SifraStanja</td>
                
            </tr>
        }
    </tbody>
</table>

@section styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/js/jquery.bootstrap4.min.css" />
}

@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.bootstrap4.min.js"></script>
    <script>
            $(document).ready(function () {
                $('#tablezarazena').DataTable({
                    language: {
                        search: "Pretraga",
                        info: "_START_ -  _END_  (ukupno _TOTAL_)",
                        lengthMenu: "Prikaži  _MENU_  zapisa",
                        paginate: {
                            first: "Prva ",
                            previous: "Prethodna ",
                            next: " Sljedeća ",
                            last: "Posljednja "
                        },
                        emptyTable: "Nema podataka za prikaz",
                        info: "_START_ - _END_ od ukupno _TOTAL_ zapisa",
                        infoEmpty: "Nema podataka za prikaz",
                        infoFiltered: "(filtrirano od ukupno _MAX_ zapisa)",
                    }
                });
            });
    </script>
}

