@model Mjera

<tr>
    <td>
        <input asp-for="SifraMjere" class="form-control" data-save="" />
    </td>
    <td>
        <select class="form-control" asp-for="SifraSastanka" asp-items="ViewBag.Sastanci" data-save="">
            <option disabled selected value="">Odaberite šifru sastanka</option>
        </select>
    </td>
    <td>
        <select class="form-control" asp-for="SifraPrethodneMjere" asp-items="ViewBag.Mjere" data-save="">
            <option disabled selected value="">Odaberite šifru prethodne mjere</option>
        </select>
    </td>
    <td>
        <input asp-for="Opis" class="form-control" data-save="" />
    </td>
    <td>
        <input asp-for="Datum" class="form-control" data-save="" />
    </td>
    <td>
        <input asp-for="VrijediDo" class="form-control" data-save="" />
    </td>
    <td>
        <button type="submit" class="btn btn-sm btn-primary save" title="Spremi"><i class="fas fa-save"></i></button>
    </td>
    <td>
        <button class="btn btn-sm cancel" title="Odustani"><i class="fas fa-undo-alt"></i></button>
    </td>
</tr>
<tr>
    <td colspan="6">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="SifraMjere" data-save="" />
    </td>
</tr>